# Copy this file to .env and adjust the values for your local environment.

PDF_READER_INPUT_DIR=./input
PDF_READER_OUTPUT_DIR=./output
PDF_READER_OUTPUT_FILE=result.xml
PDF_READER_DOC_TYPE_PATH=./doc_type.json
PDF_READER_COMPARISON_OUTPUT_FILE=differences.json
PDF_READER_DOC_TYPE_PROFILE=generic_example
PDF_READER_DOC_TYPE_OUTPUT_PATH=./doc_type.generated.json
