# Copy this file to .env and adjust the values for your local environment.

PDF_BATCH_EXTRACTOR_INPUT_DIR=./input
PDF_BATCH_EXTRACTOR_OUTPUT_DIR=./output
PDF_BATCH_EXTRACTOR_OUTPUT_FILE=result.xml
PDF_BATCH_EXTRACTOR_DOC_TYPE_PATH=./doc_type.json
PDF_BATCH_EXTRACTOR_COMPARISON_OUTPUT_FILE=differences.json
PDF_BATCH_EXTRACTOR_DOC_TYPE_PROFILE=generic_example
PDF_BATCH_EXTRACTOR_DOC_TYPE_OUTPUT_PATH=./doc_type.generated.json
